doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/style.min.css")
        title Elon Musk Tribute Page
    body  
        .container 
            Header
                // Nav bar
                nav
                    span 
                    span 

                    ul
                        li
                            a(href="#") Main Page
                        li
                            a(href="#") Biography Page
                        li
                            a(href="#") Career Summary
                        li
                            a(href="#") Project Investments 
                // Header
                h1 Elon Musk
                p 
                img(src="assets/img/images/Elon-Musk-PNG-Image-Transparent-Background.png", alt="Elon Musk Image Transparent")

                //Main Section
                main 
                h2 
                p

            //Footer
            footer 
                h4 
                ul
                    li
                        span 
                    li
                        span 
                    li
                        span 