@font-face {
  font-family: Laro-soft;
  src: url("../fonts/Laro Soft Medium.ttf") format("ttf"),
    url("../fonts/Laro Soft Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Laro-soft;
  src: url("../fonts/Laro Soft Semi Bold.ttf") format("ttf"),
    url("../fonts/Laro Soft Semi Bold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Laro-soft;
  src: url("../fonts/Laro Soft Bold.ttf") format("ttf"),
    url("../fonts/Laro Soft Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
